<div id="books-show">
    <h2>Ruby On Rails Power</h2>
    <div class="books-show-left">
        <%= image_tag('cover/ruby_on_rails_power.jpg')%>
    </div>
    <div class="books-show-right">
        <h3>Book Info:</h3>
        <ul>
            <li><strong> Category: </strong> Ruby On Rails</li>
            <li><strong> Author: </strong>Aneesha Bakharia</li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>

        </ul>
    </div>
</div>
